:root{
    /*Colores*/
    --naranja-f: #BC6C25;
    --naranja-c: #FCCCA0;
    --verde-f: #283618;
    --verde-c: #606C38;
    --beige: #FEFAE0;
    --blanco: #FFFFFF;
    --negro: #000000;

    /*Textos*/
    --fuente-headings: "Roboto Slab", serif;
    --fuente-parrafos: "Roboto Serif", serif;
}
.final{
    display: flex;
}
.conD {
    position: relative;
    font-family: josefin Slab;
    width: 50%;
    height: 100vh;
    padding: 20px;
}

.conD::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/img/E.png");
    background-repeat: no-repeat;
    background-size: cover;
    filter: opacity(0.7); /* Ajusta este valor para cambiar la opacidad */
    z-index: -1;
}

.contIz{
    font-family: josefin Slab;
    width: 50%;
    height: 100vh;
    padding: 20px;
    background-image: url("/img/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    

}
.contIz h1{
    margin-top: 20%;
    font-size: 300%;
}
.formulario{
    margin-top: 20%;
    border-radius: 10px;
    border-style: groove;
    border-color: #FF3B3B ;
    padding: 20px;
    display:flex;
    flex-direction: column;
    background-color: white;
    height: 60%;
}
#l{
    max-width: 15%;
    height: auto;
    width: auto;
    
}
#personaje{
    max-width: 100%;
    height: auto;
    width: auto;
    position: static;
}
.icono{
    justify-content: center;
    text-align: center;
}
form {
    width: 80%; /* Ancho del formulario */
    margin: 0 auto; /* Centrar el formulario */
}

.campo {
    margin-bottom: 20px; /* Espacio entre los campos */
}

label {
    display: block; /* Mostrar los labels en una línea separada */
    margin-bottom: 5px; /* Espacio entre el label y el input */
    font-weight: bold; /* Hacer el texto del label en negrita */
}


input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 100%; /* Ancho completo para los inputs */
    padding: 10px; /* Espaciado interno de los inputs */
    border-radius: 5px; /* Bordes redondeados */
    border: 1px solid #ccc; /* Borde del input */
    box-sizing: border-box; /* El tamaño total del input incluye el borde */
}

input[type="submit"] {
    background-color: #ffffff; /* Color de fondo del botón */
    color: #000000; /* Color del texto del botón */
    cursor: pointer; /* Cursor al pasar sobre el botón */
    border-color: #FF3B3B;
    font-family: josefin Slab;
    font-weight: bold; /* Hacer la fuente más gruesa */
    font-size: medium; /* Ajusta este valor para cambiar el tamaño de la fuente */

}

input[type="submit"]:hover {
    background-color: #f96e6e; /* Cambio de color al pasar sobre el botón */
}
/* Estilos para pantallas con un ancho máximo de 600px */
@media only screen and (max-width: 600px) {
    input[type="submit"]:hover {
        background-color: #f96e6e; /* Cambio de color al pasar sobre el botón */
        transform: scale(1.1); /* Hace que el botón sea un poco más grande */
    }
    
}